html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* reset para REMS 62.5% = 10 px de 16 px **/
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.d-block {
    display: block !important;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    line-height: 2;
}


/*DISEÑO RESPONSIVE*/

.media {
    width: 1325px;
    margin: 0 auto;
}

body {
    font-size: 1.6rem;
    line-height: 2;
    font-family: 'Noto Serif', serif;
}


/*-------------------------------------------------/
/* Globales */

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.3rem;
}

img {
    max-width: 100%;
}


/* utilidades*/

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.centrar-texto {
    text-align: center;
}

.d-block {
    display: block;
}

.contenedor {
    max-width: 120rem;
    /* igual  a 1200 px*/
    margin: 0 auto;
    margin-bottom: 2rem;
}

nav {
    margin-bottom: 2.5rem;
}

.imgh {
    margin-bottom: 2.5rem;
}


/* estilo header*/

.site-header.inicio {
    background-image: url(assets\img\headerproductos.jpg);
    background-position: center center;
    background-size: cover;
    max-width: 100%;
    justify-content: space-between;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70rem;
    align-items: center;
    display: flex;
}

.juntartexto {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13rem;
    text-align: center
}

.contenido-header h1 {
    color: #ffffff;
    ;
}

.contenido-header h2 {
    color: #ffffff;
    line-height: 1.8;
}

.barra {
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}


/* Navegacion de mi pagina*/

.navegacion {
    text-align: center;
}

.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

.navegacion a:hover {
    color: #e40d66;
}

.navegacion a:last-of-type {
    margin: 0;
}


/*.encabezado-nosotros{

    font-weight: 100;
    text-align: center;
}*/


/* Iconos nosotros*/

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.icono {
    flex-basis: calc(33.33% - 1rem);
    text-align: center;
}

.icono h3 {
    text-transform: uppercase;
}

#testimonial-header {
    background-color: white;
    color: black;
}

.encabezado {
    color: black;
}

.mayusculas {
    text-transform: uppercase;
}


/* Estilo footer */


/* BOTONES*/

.boton {
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
    font-size: 1.8rem;
    padding: .5rem 2rem;
    display: inline-block;
    text-align: center;
}

.boton-amarillo {
    background-color: #094966;
    display: inline-block;
}

.boton-verde {
    background-color: #71B100;
    margin-left: 100rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.boton-verde:hover,
.boton-verde:active {
    background-color: greenyellow;
}

.boton-amarillo:hover,
.boton-amarillo:active {
    background-color: rgb(255, 230, 0);
}

.propiedad {
    background-color: #E08709;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 3rem;
    margin-top: 3rem;
}

.propiedad:hover,
.propiedad:active {
    background-color: orange;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}


/* ANUNCIOS*/

.contenedor-anuncios {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.anuncio {
    flex-basis: calc(25% - 1rem);
    border: 1px solid #b5b5b5;
    background: #f5f5f5;
    height: 450px;
}

.anuncio img {
    width: 100%;
    height: 50%;
}

.contenido-anuncio {
    padding: 1rem;
}

.contenido-anuncio h3 {
    margin: 0;
}

.contenido-anuncio h4 {
    margin: 0;
    text-align: center;
}

.contenido-anuncio p {
    margin: 0;
}

.anuncio .boton {
    margin: 0;
}


/*
.contenido-anuncio h3, .contenido-anuncio p {
    margin: 0;
}
*/

.precio {
    color: #71b100;
    font-weight: 700;
}

.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.iconos-caracteristicas li {
    display: flex;
}

.iconos-caracteristicas li img {
    margin-right: 2rem;
}

.nosotros {
    text-align: right;
}

.icono1 {
    height: 30rem;
    width: 30rem;
    margin-right: 3.5rem;
}

.icono2 {
    height: 20rem;
    width: 35rem;
    margin-bottom: 3rem;
}

img {
    max-width: 100%;
    /*para que las imagenes no se vean encimadas*/
}

.prin {
    background-image: url(img/prin22.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    max-width: 100%;
    min-height: 10rem;
    margin-left: -0.5rem;
    margin-top: -1.5rem;
}

.contenido {
    max-width: 120rem;
    margin: 0 auto;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo {
    background-color: rgb(187, 245, 190);
    opacity: .9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    margin-left: -1rem;
    font-family: 'Noto Sans JP', sans-serif;
}

.finalpagina p {
    color: white;
    font-size: 2.5 rem;
    line-height: 3rem;
}

.finalpagina h3 {
    color: white;
    font-size: 2.1rem;
}

.links a {
    color: black;
    text-decoration: none;
    font-size: 1.45rem;
    margin-right: 4rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}

.links a:hover {
    color: rgba(177, 18, 111, 0.959);
}

.finalpagina {
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 50rem;
    display: inline-block;
    margin-top: 2rem;
}

.contenido-nosotros {
    flex-basis: calc(50% - 1rem);
    padding: 0.8rem;
    margin-left: 7rem;
    margin-right: 0.5rem;
    line-height: 1.9rem;
    font-display: 8rem;
}

.ubi {
    line-height: 1.4rem;
}

.contenedor-nosotros {
    display: flex;
}

.links-f {
    line-height: 1.9rem;
    font-size: 1.2rem;
}

.info {
    margin-top: -1.5rem;
}

.info1 {
    margin-top: 1.5rem;
}

.info2 {
    margin-bottom: -1.5rem;
}

.logo {
    width: 7rem;
    height: 6.53rem;
    margin-left: 7rem;
    margin-bottom: 0.4rem;
}

.logot {
    font-size: 3rem;
    margin-left: -9rem;
    margin-top: -0.2rem;
}

.redes {
    width: 11rem;
    height: 3rem;
    float: right;
    margin-right: 8rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}