body {
    background-image: url("../img/registra5.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: white;
    text-align: right;
    margin-right: 10rem;
}

.title2 {
    font-size: 4rem;
    margin-left: 4rem;
    margin-top: -13rem;
}

.text {
    font-size: 1.4rem;
}

.btn-reg {
    background-color: teal;
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.5rem;
}

.formularior {
    margin-right: 3rem;
}