html {
    box-sizing: border-box;
    /*representa 10pixeles*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.d-block {
    display: block!important;
}

body {
    overflow-x: hidden;
    font-family: 'Noto Sans JP', sans-serif;
}

.icono1 {
    height: 30rem;
    width: 30rem;
    margin-right: 3.5rem;
}

.icono2 {
    height: 20rem;
    width: 35rem;
    margin-bottom: 3rem;
}

img {
    max-width: 100%;
}

.prin {
    background-image: url(img/headerproductos.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    max-width: 100%;
    min-height: 10rem;
    margin-left: -0.5rem;
    margin-top: -1.5rem;
}

.contenido {
    max-width: 120rem;
    margin: 0 auto;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo {
    background-color: rgb(187, 245, 190);
    opacity: .9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-size: 3rem;
    color: white;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom: 1rem;
}

h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2.1rem;
}

p,
h3 {
    color: black;
}

.cate {
    font-size: 2.7rem;
    color: rgb(33, 74, 134);
    text-align: center;
    margin-top: 4rem
}

.links a {
    color: black;
    text-decoration: none;
    font-size: 1.45rem;
    margin-right: 4rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}

.links a:hover {
    color: rgba(177, 18, 111, 0.959);
}

.pap {
    text-align: left;
    text-indent: 17rem;
    display: inline-block;
}

.reg {
    float: right;
    text-indent: 32rem;
}

.finalpagina {
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 29rem;
    display: inline-block;
}

.finalpagina p,
h3 {
    color: white;
}

.contenedor {
    max-width: 120rem;
    /* igual  a 1200 px*/
    margin: 0 auto;
}

.barra {
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    text-indent: 5rem;
}

.fin {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    margin-right: 2rem;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    text-indent: 18rem;
    margin-bottom: -1rem;
    padding-top: -2.7rem;
}

.fi {
    text-indent: 4rem;
}

.contenido-icono {
    margin-bottom: 5rem;
}

.contenedor-exp {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.contenido-nosotros {
    flex-basis: calc(50% - 1rem);
    padding: 0.8rem;
    margin-left: 7rem;
    margin-right: 0.5rem;
    line-height: 1.9rem;
    font-display: 8rem;
}

.ubi {
    line-height: 1.4rem;
}

.contenedor-nosotros {
    display: flex;
}

.links-f {
    line-height: 1.9rem;
    font-size: 1.2rem;
}

.info {
    margin-top: -1.5rem;
}

.info1 {
    margin-top: 1.5rem;
}

.info2 {
    margin-bottom: -1.5rem;
}

.logo {
    width: 7rem;
    height: 6.53rem;
    margin-left: 5rem;
    margin-bottom: 0.4rem;
}

.logot {
    font-size: 3rem;
    margin-left: -9rem;
    margin-top: -0.2rem;
}

.redes {
    width: 11rem;
    height: 3rem;
    float: right;
    margin-right: 8rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.tit {
    color: black;
}

.seccionr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contenedorr {
    max-width: 120rem;
    /* igual  a 1200 px*/
    margin: 0 auto;
}

.fw-400 {
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.centrar-texto {
    text-align: center;
}

.contenedor-regalos {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.regalo {
    flex-basis: calc(33.33% - 1rem);
    border: 1px solid #b5b5b5;
    background: #f5f5f5;
    height: 60rem;
}

.anuncio img {
    width: 100%;
    height: 50%;
}

.anuncio p {
    line-height: 2rem;
}

.contenido-regalo {
    padding: 2rem;
}

.contenido-regalo h3 {
    margin: 0;
}

.contenido-regalo p {
    margin: 0;
}

.precio p {
    color: #71b100;
    font-weight: 300;
    padding: 2rem;
}

.boton {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    display: inline-block;
    text-align: center;
}

.boton-amarillo {
    background-color: #094966;
    display: inline-block;
}

.d-block {
    display: block !important;
}

.logott {
    font-size: 2rem;
    float: center;
}


/*sección uno*/

.seccionuno {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.seccionuno p,
.seccionuno h3 {
    color: black;
    text-align: center;
    font-size: 1.3rem;
}

.centrar-texto {
    text-align: center;
}

.organizador-uno {
    display: flex;
    justify-content: space-between;
}

.separadoruno {
    flex-basis: calc(30% - 1rem);
    margin: auto;
}

.separadoruno img {
    border-radius: 2rem;
}

.separadoruno h4 {
    text-align: center;
}

.boton {
    color: #15253d;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    text-align: center;
}

.boton-amarillo {
    background-color: #72ac14;
    display: inline block;
    border-radius: 3rem;
}


/**------------------------------------------------**/

.contenidoimg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
}


/* Iconos nosotros*/

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.icono {
    flex-basis: calc(33.33% - 1rem);
    text-align: center;
}

.icono h3 {
    text-transform: uppercase;
}

#testimonial-header {
    background-color: white;
    color: black;
}

.encabezado {
    color: black;
}

.mayusculas {
    text-transform: uppercase;
}


/* Estilo footer */


/* BOTONES*/

.paypal {
    text-align: center;
}

.boton {
    color: #ffffff;
    font-weight: 50;
    text-decoration: none;
    font-size: 1.8rem;
    padding: .5rem 1rem;
    display: inline-block;
    text-align: center;
}

.boton-amarillo {
    background-color: #094966;
    display: inline-block;
}

.boton-verde {
    background-color: #71B100;
    margin-left: 100rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-bottom: 2rem;
}

.boton-verde:hover,
.boton-verde:active {
    background-color: greenyellow;
}

.boton-amarillo:hover,
.boton-amarillo:active {
    background-color: rgb(255, 230, 0);
}

.propiedad {
    background-color: #E08709;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 3rem;
    margin-top: 3rem;
}

.propiedad:hover,
.propiedad:active {
    background-color: orange;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}


/* ANUNCIOS*/

.contenedor-anuncios {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    align-items: center;
}

.anuncio {
    flex-basis: calc(25% - 1rem);
    border: 1px solid #b5b5b5;
    background: #f5f5f5;
    height: 500px;
}

.anuncio img {
    width: 100%;
    height: 50%;
}

.contenido-anuncio {
    padding: 1rem;
}

.contenido-anuncio h3 {
    margin: 0;
}

.contenido-anuncio h4 {
    margin: 0;
    text-align: center;
}

.contenido-anuncio p {
    font-weight: 300;
    margin: 0;
}

.anuncio .boton {
    margin: 0;
}


/*
.contenido-anuncio h3, .contenido-anuncio p {
    margin: 0;
}
*/

.precio {
    color: #71b100;
    font-weight: 700;
}

.contenedor {
    max-width: 120rem;
    /* igual  a 1200 px*/
    margin: 0 auto;
    margin-bottom: 2rem;
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.contenidoimg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70rem;
    align-items: center;
    display: flex;
}

.media {
    width: 1325px;
    margin: 0 auto;
}